<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header
  <h1> MUSIC APP</h1>
</header>

<br>

  <body>
  <body style= "background-color:powderblue;">

  <% if logged_in? %>
    <h2>Welcome
    <%= current_user.email %>!
    </h2>

    <form action= "<%= session_url %>" method = "POST" >
      <input type = "hidden" name= "_method" value= "delete" >
      <input type = "submit" value= "Logout" >
    </form>

    <%else%>
      <a href="<%= new_user_url%>"> Sign Up </a>
      <br>
      <a href="<%= new_session_url%>"> Sign In </a>
    <%end%>


    <%= yield %>
  </body>
  </body>
</html>
